##### 6/18/20  meeting with pat

how many games a player plays in a x-amount of years,....pick variables(height, wt, draft position, team they play?)
        predict how many games  new player is likely to predict based on these factors? 
#use games played as a proxy
#what is the average starting player play in a given year? 
#could look at given a player played x amount (65 games in first season), can you then prdict in next couple of years how many games based on x variables

        - 538 raptor predictions??
        - time series by individual player
        - basketball reference csvs
        - nba.com stats nba api? lots of wrappers to use? 
         (stats.nba.com -- stats 101, video, tracking stats)

# Problem Statement:

I will use linear regression to predict the average amount of games a new player (drafted 2018 season) can expect to play in the upcoming 3 years.
-generate what average season is for players?

## Proposed modeling techniques

    - Linear Regression
    - Random Forest model?
    - Something else cool??

In [1]:
# Import libaries
import requests
import numpy as np
import pandas as pd

In [2]:
# change max rows shown to 3000
pd.options.display.max_rows = 3000
# change max columns shown to 999
pd.options.display.max_columns = 999

In [3]:
#pulls in csv's from data folder and turns them into dataframes
df09 = pd.read_csv('./Data/sportsref_2009.csv')
df10 = pd.read_csv('./Data/sportsref_2010.csv')
df11 = pd.read_csv('./Data/sportsref_2011.csv')
df12 = pd.read_csv('./Data/sportsref_2012.csv')
df13 = pd.read_csv('./Data/sportsref_2013.csv')
df14 = pd.read_csv('./Data/sportsref_2014.csv')
df15 = pd.read_csv('./Data/sportsref_2015.csv')
df16 = pd.read_csv('./Data/sportsref_2016.csv')
df17 = pd.read_csv('./Data/sportsref_2017.csv')
df18 = pd.read_csv('./Data/sportsref_2018.csv')
df19 = pd.read_csv('./Data/sportsref_2019.csv')

In [4]:
#Adding the year of the player's recorded stats as 'YEAR' column to each dataframe
df09['YEAR'] = 2009
df10['YEAR'] = 2010
df11['YEAR'] = 2011
df12['YEAR'] = 2012
df13['YEAR'] = 2013
df14['YEAR'] = 2014
df15['YEAR'] = 2015
df16['YEAR'] = 2016
df17['YEAR'] = 2017
df18['YEAR'] = 2018
df19['YEAR'] = 2019

In [5]:
#displays first five rows of the df09 dataframe to check that 'YEAR' column was added
df09.head()

,Player,Tm,Pos,G▼,MP,PER,TS%,3PAr,FTr,ORB%,TRB%,AST%,STL%,BLK%,TOV%,USG%,OWS,DWS,WS,WS/40,YEAR
0,Matee Ajavon,WAS,G,34,587,12.4,0.451,0.324,0.435,5.4,6.5,11.8,3.2,0.5,14.2,25.9,0.1,0.9,0.9,0.064,2009
1,Ashley Battle,NYL,F,34,548,12.0,0.526,0.311,0.311,3.7,9.4,13.6,3.0,0.3,23.6,18.7,-0.2,1.0,0.8,0.058,2009
2,Tully Bevilaqua,IND,G,34,861,12.3,0.510,0.591,0.298,1.6,5.6,20.0,3.8,0.8,19.0,13.2,0.8,1.8,2.5,0.118,2009
3,DeWanna Bonner,PHO,G-F,34,724,21.1,0.551,0.047,0.554,11.6,15.1,2.8,1.5,2.4,9.0,22.0,2.7,0.5,3.2,0.178,2009
4,Kiesha Brown,CON,G,34,393,11.2,0.490,0.439,0.179,2.5,7.9,16.9,1.7,0.6,17.9,18.3,0.0,0.5,0.5,0.054,2009

In [6]:
#combines all the dataframes into one big dataframe
df = pd.concat([df09,df10,df11,df12,df13,df14,df15,df16,df17,df18,df19])

#shows us number of rows/columns in the new combined df
df.shape

(1683, 21)

In [7]:
df.head()

,Player,Tm,Pos,G▼,MP,PER,TS%,3PAr,FTr,ORB%,TRB%,AST%,STL%,BLK%,TOV%,USG%,OWS,DWS,WS,WS/40,YEAR
0,Matee Ajavon,WAS,G,34,587,12.4,0.451,0.324,0.435,5.4,6.5,11.8,3.2,0.5,14.2,25.9,0.1,0.9,0.9,0.064,2009
1,Ashley Battle,NYL,F,34,548,12.0,0.526,0.311,0.311,3.7,9.4,13.6,3.0,0.3,23.6,18.7,-0.2,1.0,0.8,0.058,2009
2,Tully Bevilaqua,IND,G,34,861,12.3,0.510,0.591,0.298,1.6,5.6,20.0,3.8,0.8,19.0,13.2,0.8,1.8,2.5,0.118,2009
3,DeWanna Bonner,PHO,G-F,34,724,21.1,0.551,0.047,0.554,11.6,15.1,2.8,1.5,2.4,9.0,22.0,2.7,0.5,3.2,0.178,2009
4,Kiesha Brown,CON,G,34,393,11.2,0.490,0.439,0.179,2.5,7.9,16.9,1.7,0.6,17.9,18.3,0.0,0.5,0.5,0.054,2009

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1683 entries, 0 to 156
Data columns (total 21 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  1683 non-null   object
 1   Tm      1683 non-null   object
 2   Pos     1661 non-null   object
 3   G▼      1683 non-null   int64
 4   MP      1683 non-null   int64
 5   PER     1681 non-null   float64
 6   TS%     1676 non-null   float64
 7   3PAr    1676 non-null   float64
 8   FTr     1676 non-null   float64
 9   ORB%    1681 non-null   float64
 10  TRB%    1681 non-null   float64
 11  AST%    1681 non-null   float64
 12  STL%    1681 non-null   float64
 13  BLK%    1681 non-null   float64
 14  TOV%    1676 non-null   float64
 15  USG%    1681 non-null   float64
 16  OWS     1683 non-null   float64
 17  DWS     1683 non-null   float64
 18  WS      1683 non-null   float64
 19  WS/40   1681 non-null   float64
 20  YEAR    1683 non-null   int64
dtypes: float64(15), int64(3), object(3)
memory usage: 289.3+ KB

In [9]:
#renames 'G▼' column
df = df.rename(columns = {'G▼':'NUM GAMES', 'WS/40': 'WS_40'})
df.columns

Index(['Player', 'Tm', 'Pos', 'NUM GAMES', 'MP', 'PER', 'TS%', '3PAr', 'FTr',
       'ORB%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%', 'OWS', 'DWS',
       'WS', 'WS_40', 'YEAR'],
      dtype='object')

In [12]:
df.to_csv('.\\df.csv', index=False)